<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.apong.yueapi.platform.mapper.UserApiInvokeMapper">

    <resultMap id="BaseResultMap" type="pers.apong.yueapi.platform.model.domain.UserApiInvoke">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="apiInfoId" column="apiInfoId" jdbcType="BIGINT"/>
            <result property="totalNum" column="totalNum" jdbcType="INTEGER"/>
            <result property="leftNum" column="leftNum" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,apiInfoId,
        totalNum,leftNum,status,
        createTime,updateTime,isDelete
    </sql>
    <select id="listTopInvokedApiInfo" resultType="pers.apong.yueapi.platform.model.vo.ApiInvokeAnalysisVO">
        select *
        from api_info ai
                 right join (select apiInfoId, sum(totalNum) as totalNum
                             from user_api_invoke
                             group by apiInfoId
                             order by totalNum desc
                             limit #{limitNum}) uai on ai.id = uai.apiInfoId;

    </select>
</mapper>
